{% extends 'base.html' %}
{% block title %} Beatmap Info {% endblock %}

{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
<script src="/static/js/asserts/vue.js"></script>
<script src="/static/js/asserts/vue-axios.js"></script>

<script>
    var mode = "{{ mode }}";
    var mods = "{{ mods }}";
    var sort = 'pp';
    var bid = "{{ bid }}";
    var sid = "{{ sid }}";
    var domain = "{{ domain() }}";
</script>

<link rel="stylesheet" href="/static/css/pages/beatmap.css">
{% endblock %}

{% block content %}
<div id="app" :class="(load ? 'load' : '')">
    <div class="beatmap-banner main-banner">
        <div class="main-selector">
            <div class="left">
                <a class="mode-select" v-bind:class="{ 'active': mode === 'std' }"
                @click="LoadBeatmap(sort, 'std', mods)">
                    <i class="mode-icon mode-osu"></i><span class="modetext"> osu!</span>
                </a>
                <a class="mode-select" v-bind:class="{ 'active': mode === 'taiko', 'disabled': mods === 'ap' }"
                @click="LoadBeatmap(sort, 'taiko', mods)">  
                    <i class="mode-icon mode-taiko"></i><span class="modetext"> osu!taiko</span>
                </a>
                <a class="mode-select" v-bind:class="{ 'active': mode === 'catch', 'disabled': mods === 'ap' }"
                @click="LoadBeatmap(sort, 'catch', mods)">
                    <i class="mode-icon mode-catch"></i><span class="modetext"> osu!catch</span>
                </a>
                <a class="mode-select" v-bind:class="{ 'active': mode === 'mania', 'disabled': mods === 'ap' || mods === 'rx' }"
                @click="LoadBeatmap(sort, 'mania', mods)">
                    <i class="mode-icon mode-mania"></i><span class="modetext"> osu!mania</span>
                </a>
            </div>
            <div class="right">
                <a class="mods-select" v-bind:class=" { 'active': mods === 'vn' }"
                @click="LoadBeatmap(sort, mode, 'vn')">vn</a>
                <a class="mods-select" v-bind:class=" { 'active': mods === 'rx', 'disabled': mode === 'mania' }"
                @click="LoadBeatmap(sort, mode, 'rx')">rx</a>
                <a class="mods-select" v-bind:class=" { 'active': mods === 'ap', 'disabled': mode === 'taiko' || mode === 'catch' || mode === 'mania'  }"
                @click="LoadBeatmap(sort, mode, 'ap')">ap</a>
            </div>
        </div>
        <hr class="navbar-divider">
        <select v-model="test_bid" class="diff-select" @change="diffChange($event, mods, mode)">
        <option v-for="map in diffs" :href="'https://fysix.xyz/b/'+map.id" class="diff-div" :value="map.id"><%map.diff%> | <% map.version %></option>
        </select>
        <div class="banner-bg" :style="'background-image: url(https://assets.ppy.sh/beatmaps/'+sid+'/covers/cover@2x.jpg)'">
            <div class="stats-block stats-params">
                <div class="map-param">
                    <i class="fas fa-clock"></i>
                    <span class="param-text"><% secondsToDhm(mapinfo.total_length) %></span>
                </div>
                <div class="map-param">
                    <i class="fas fa-star"></i>
                    <span class="param-text"><% Number(mapinfo.diff).toFixed(2) %></span>
                </div>
            </div>
        </div>
    </div>

    <div class="main-block">
        <div class="text-center song-title"><strong><% mapinfo.artist %> - <% mapinfo.title %></strong></div> 
        <div class="text-center">[<% mapinfo.version %>]</div>
        <div class="temp-buttons">
            <div class="buttons">
                <a class="button is-primary" :href="'https://catboy.best/d/'+sid">
                    <i class="fas fa-download icon" style="margin-top: 6px;"></i>
                    <strong>Download Map</strong>
                </a>
                <a class="button is-primary" onclick="togglePlay()">
                    <i class="fa-solid fa-play icon" id="preview-icon" style="margin-top:6;"></i><span id="PlayState"><strong>Preview Song</strong></span>
                </a>
            </div>
        </div>

        <div class="leaderboard-main-bg table-responsive">
            <div v-if="boards.length != undefined && boards.length != 0">
                <table class="leaderboard-table table-responsive">
                    <thead>
                        <tr>
                            <th class="t-heading"> Rank </th>
                            <th class="t-heading t-heading--score"> </th>
                            <th v-if="sort == 'pp' || sort == 'rscore'" class="t-heading table--selected">
                                <% (sort=='pp' ? "PP" : "" ) %>
                                    <% (sort=='rscore' ? "Score" : "" ) %>
                            </th>
                            <th class="t-heading"> Accuracy </th>
                            <th class="t-heading t-heading--main"> Player </th>
                            <th class="t-heading text-left"> Max Combo (<% mapinfo.max_combo %>) </th>
                            <th class="t-heading"> 300 </th>
                            <th class="t-heading"> 100 </th>
                            <th class="t-heading"> 50 </th>
                            <th class="t-heading"> Miss </th>
                            <th v-if="sort == 'pp' || sort == 'rscore'" class="t-heading">
                                <% (sort=='pp' ? "Score" : "" ) %>
                                    <% (sort=='rscore' ? "PP" : "" ) %>
                            </th>
                            <th class="t-heading t-heading--time"> Time </th>
                            <th class="t-heading t-heading--mods"> Mods </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(user, index) in boards" class="leaderboard-column">
                            <td class="column-player-rank">#<% index + 1 %>
                            </td>
                            <td class="column-player-score-rank">
                                <div class="rank-single">
                                    <div v-bind:class="'map-rank rank-'+user.grade">
                                        <% user.grade.replace("X", "SS" ).replace("H", "" ) %>
                                    </div>
                                </div>
                            </td>
                            <td v-if="sort == 'pp' || sort == 'rscore'">
                                <% (sort=='pp' ? user.pp.toFixed()+'pp' : "" ) %>
                                    <% (sort=='score' ? scoreFormat(user.score) : "" ) %>
                            </td>
                            <td>
                                <% user.acc.toFixed(2) %>%
                            </td>
                            <td class="column-player-name text-left">
                                <a :title="flags[user.country.toUpperCase()]"
                                    :style="'background-image: url(/static/images/flags/' + user.country.toUpperCase() + '.png)'"
                                    class="player-flag">
                                    <div class="flag-dropdown">
                                        <% flags[user.country.toUpperCase()] %>
                                    </div>
                                </a>
                                <a :href="'/u/'+user.userid+'?mode='+mode+'&mods='+mods">
                                    <% user.player_name %>
                                </a>
                            </td>
                            <td class="text-left">
                                <% addCommas(user.max_combo) %>x
                            </td>
                            <td class="text-left">
                                <% addCommas(user.n300) %>
                            </td>
                            <td class="text-left">
                                <% addCommas(user.n100) %>
                            </td>
                            <td class="text-left">
                                <% addCommas(user.n50) %>
                            </td>
                            <td class="text-left">
                                <% addCommas(user.nmiss) %>
                            </td>
                            <td v-if="sort == 'pp' || sort == 'rscore'" class="text-left">
                                <% (sort=='pp' ? scoreFormat(user.score) : "" ) %>
                                    <% (sort=='score' ? user.pp+'pp' : "" ) %>
                            </td>
                            <td class="text-left">
                                <% timeago.format(user.play_time) %>
                            </td>
                            <td class="text-left">
                                <% user.mods_readable %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <div class="text-center">
                    there are no players to display!
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/asserts/vue-flags.js"></script>
<script src="/static/js/pages/beatmap.js?123125415"></script>
<audio id="BeatmapAudio" src="https://catboy.best/preview/audio/{{ bid }}" preload="auto"></audio>
<script>
    var mode = '{{ mode }}';
    var mods = '{{ mods }}';
    var sort = 'pp';
    var bid = "{{ bid }}";
    var PlayText = '<strong>Preview Song</strong>';
    var PauseText = '<strong>Pause</strong>';
    var myAudio = document.getElementById("BeatmapAudio");
    var previewIcon = $("#preview-icon")
    var isPlaying = false;
    myAudio.volume = 0.1; 
    var domain = "{{ domain() }}";
    function togglePlay() {
                if (isPlaying) {
                    myAudio.pause()
                    document.getElementById("PlayState").innerHTML = PlayText;
                    document.getElementById("preview-icon").classList.remove('fa-pause');
                    document.getElementById("preview-icon").classList.add('fa-play');
                } else {
                    myAudio.play();
                    document.getElementById("PlayState").innerHTML = PauseText;
                    document.getElementById("preview-icon").classList.remove('fa-play');
                    document.getElementById("preview-icon").classList.add('fa-pause');
                }
            };
            myAudio.onplaying = function() {
                isPlaying = true;
            };
            myAudio.onpause = function() {
                isPlaying = false;
            };

            myAudio.addEventListener("ended", function(){
                myAudio.currentTime = 0;
                document.getElementById("PlayState").innerHTML = PlayText;
                    document.getElementById("preview-icon").classList.remove('fa-pause');
                    document.getElementById("preview-icon").classList.add('fa-play');
            });
</script>
{% endblock %}
